@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ea284f;
    --primary-hover: #d61f43;
    --primary-light: #fdf2f5;
    --secondary: #f2f2f2;
    --secondary-hover: #e0e0e0;
    --disabled: #ebebeb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.uppy-Root,
.uppy-Container {
  height: 100%;
}

input[type="range"] {
  appearance: none;
  background-color: var(--secondary);
  border-radius: 300px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid var(--secondary);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
